.body {
  background-color: white;


}

.landing {
  background-color: #276d9b;
  height: 80vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 130px 130px;
  margin: 1em;
 
}

.imagelogo {
  height: 50vh;
}

.about {
  background-color: #276d9b;
  height: 60vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 1em;
  padding: 2em;
  padding-top: 5em;
  color: white;
  font-size: 20px;
}

.form {
  background-color: #276d9b;
  height: 60vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 1em;

}

.form-row{
  width: 60%;
  padding: 2em;
}

#submitbutton {
  margin: 5em;
}




