.body {
  background-color: white;


}

.landing {
  background-color: #276d9b;
  height: 80vh;
  margin: 1em;
  justify-content: center;
  align-items: center;
 
}

.imagelogo {
  height: 50vh;
}

.about {
  background-color: #276d9b;
  text-align: center;
  margin: 1em;
  color: white;
  font-size: 20px;
  
}

.about p {
  margin: 2em;
}

.user-form {
  background-color: #276d9b;
}

.user-form form {
  margin: 2em;
}

.form-submit {
  margin: auto;
}

.categories {
  background-color: #276d9b;
  height: 60vh;
  text-align: center;
  margin: 1em;
  color: white;
  align-items: center;
  justify-content: center;
}

.categories select {
  margin: auto;
  width: 60%;
}


table, th, td {
                  
  border: 15px solid white;
     border-collapse: collapse;
    }
